[submodule "lib/avr-misc"]
	path = lib/avr-misc
	url = https://github.com/specadmin/avr-misc
[submodule "lib/avr-debug"]
	path = lib/avr-debug
	url = https://github.com/specadmin/avr-debug
[submodule "lib/RTD2660AVR"]
	path = lib/RTD2660AVR
	url = https://github.com/specadmin/RTD2660AVR
[submodule "lib/toyota-mpx"]
	path = lib/toyota-mpx
	url = https://github.com/specadmin/toyota-mpx
[submodule "lib/avr-twi"]
	path = lib/avr-twi
	url = https://github.com/specadmin/avr-twi
[submodule "lib/DS3231"]
	path = lib/DS3231
	url = https://github.com/specadmin/DS3231
